*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{ 
    background-color: rgb(243,243,243);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
    margin-top: 2%;
}

.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 44rem;
}

#id{
    height: 30.5rem;
    position: absolute;
    margin-left: 3.2%;
    margin-top: 0.4%;
    -webkit-transition: opacity 3000ms;
    transition: opacity 3000ms;
}

.instagram-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    margin-top: .8rem;
    border: 1px solid lightgray;
    line-height: 1.5rem;
}

.group:nth-child(1){
    min-height: 19rem;
}

.instagram-logo{
    height: 3rem;
}

.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
    font-weight: bold;
}

.not-account{
    color: rgba(38,38,38,1);
}

.link-blue {
    font-weight: bold;
    color: #0095f6;
}

.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url('img/apple-button.png');
}

.app-download:nth-child(2){
    background-image: url('img/googleplay-button.png');
}

footer {
    margin: 3% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .primeira-linha{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer .primeira-linha a{
    margin: 0 0.5%;
    color: rgb(160, 160, 160);
    font-size: 12px;
}

footer .segunda-linha{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer .segunda-linha a{
    margin: 1% 0.5%;
    color: rgb(160, 160, 160);
    font-size: 12px;
}

footer .ultima-linha{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer .ultima-linha a{
    margin: 1%;
    color: rgb(160, 160, 160);
    font-size: 12px;
}

footer .ultima-linha select{
    background: rgb(243,243,243);
    color: rgb(160, 160, 160);
    border: none;
    font-size: 12px;
}

/* Media queries */

@media (max-width: 1024px){
    .instagram-wrapper{
        width: 90%;
    }
}

@media (max-width: 650px){
    body{
        background-color: #ffffff;
    }

    .instagram-wrapper{
        width: 90%;
    }

    .instagram-phone{
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }

    .group{
        border: 1px solid transparent;
    }
}